*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
publish/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
bin\\Debug/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.coverage
*.coveragexml
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
*.[Cc]ache
!*.[Cc]ache/
*.pfx
*.sln.iml
.env
.env.development
.env.production
.env.staging
.env.local
*/.env
*/.env.development
*/.env.production
*/.env.staging
*/.env.local
!.env.example
!*/.env.example
